[package]
name = "ibapi"
version = "0.5.0"
edition = "2021"
authors = ["Wil Boayue <wil@wsbsolutions.com>"]
description = "A synchronous implementation of the Interactive Brokers TWS API."
readme = "README.md"
homepage = "https://github.com/wboayue/rust-ibapi/"
repository = "https://github.com/wboayue/rust-ibapi/"
documentation = "https://docs.rs/ibapi/latest/ibapi/"
license = "MIT"
keywords = ["algo-trading", "interactive-brokers", "tws"]
categories = ["finance", "api-bindings"]
exclude = [
    "yo",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1.4.3"
crossbeam = "0.8.2"
log = "0.4.17"
time = {version = "0.3.17", features = ["formatting", "macros", "local-offset", "parsing"]}
time-tz = "1.0.2"

[dev-dependencies]
anyhow = "1.0.66"
clap = "4.1.8"
env_logger = "0.9.3"
pretty_assertions = "1"
