[package]
name = "ibapi"
version = "0.5.0"
edition = "2021"
authors = ["Wil Boayue <wil@wsbsolutions.com>"]
description = "Unofficial Rust implementation of the Interactive Brokers TWS API, providing a reliable and ergonomic interface for TWS and IB Gateway. Designed with a focus on simplicity, ensuring smooth integration into trading systems."
readme = "README.md"
homepage = "https://github.com/wboayue/rust-ibapi/"
repository = "https://github.com/wboayue/rust-ibapi/"
documentation = "https://docs.rs/ibapi/latest/ibapi/"
license = "MIT"
keywords = ["algo-trading", "interactive-brokers", "tws"]
categories = ["finance", "api-bindings"]
exclude = [
    "yo",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1.4.3"
crossbeam = "0.8.2"
log = "0.4.17"
time = {version = "0.3.17", features = ["formatting", "macros", "local-offset", "parsing", "serde"]}
time-tz = "1.0.2"
serde = {version = "1.0.213" , features = ["derive"]}
once_cell = "1.17"

[dev-dependencies]
anyhow = "1.0.66"
clap = "4.1.8"
env_logger = "0.9.3"
pretty_assertions = "1"
tempfile = "3.2"
temp-env = "0.3"
